[project]
name = "langchain-playground"
version = "0.1.0"
description = "Personal LangChain Playground"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "deepagents>=0.0.5",
    "docling>=2.57.0",
    "fal-client>=0.7.0",
    "fastapi>=0.117.1",
    "google-genai>=1.45.0",
    "httpx>=0.28.1",
    "ipython>=9.5.0",
    "langchain>=0.3.27",
    "langchain-community>=0.3.29",
    "langchain-google-genai>=2.1.12",
    "langchain-openai>=0.4.0.dev0",
    "langgraph>=0.6.7",
    "langgraph-prebuilt>=0.6.4",
    "langsmith>=0.4.30",
    "more-itertools>=10.8.0",
    "numpy>=2.3.3",
    "openai>=1.109.1",
    "opencc-python-reimplemented>=0.1.7",
    "pydantic>=2.11.9",
    "pydub>=0.25.1",
    "pyppeteer>=0.0.25",
    "python-dotenv>=1.1.0",
    "pytubefix>=9.5.1",
    "requests>=2.32.5",
    "rich>=14.1.0",
    "smolagents>=1.21.3",
    "tavily-python>=0.7.12",
    "tiktoken>=0.11.0",
    "tqdm>=4.67.1",
    "uvicorn>=0.37.0",
    "yt-dlp>=2025.9.23",
]

[project.optional-dependencies]
whisper = [
    "optimum>=1.27.0",
    "torch>=2.8.0",
    "transformers>=4.56.2",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["langchain_playground"]

[dependency-groups]
dev = [
    "iprogress>=0.4",
    "ipykernel>=6.30.0",
]
